  <div >
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">Zoute Mobile</h2>
            <h2 ng-show="isActive" class="text-center">{{agency.name}} Agency Dashboard</h2>
        </div> 
        <div ng-show="isActive">
            <div class="col-sm-4 text-right"> 
               <p> User: {{ user.email }} </p>
            </div>
           <button class="col-sm-2" ng-click='logout()'>Logout</button>
        </div>
        <div ng-show="!isActive">
            <div class="col-sm-2"></div> 
            <button  class="col-sm-2" ng-click='signup()'>Sign Up</button>
            <button  class="col-sm-2" ng-click='login()'>Login</button>
        </div>
        
    </div>
  </div>  



  <div class="row">

  </div>

  <div ng-show="isActive" class="container" > 
      <div class="row">
          <div  ng-repeat="tab in tabs" >
           <button type="button" class="btn btn-default col-sm-3" 
               ng-class="{active: activetab == tab.name}" ng-click="setTab(tab.name)">{{tab.name}}</button>
          </div>
      </div>
      <div class="row" ng-show="activetab == 'Rider Metrics'">
          <h2>Rider Meterics</h2>
          <div>
                <div google-chart chart="riderMetrics" style="width:980px; height:512px; position: relative;">                    
                </div>
          </div>
      </div>
      <div class="row" ng-show="activetab == 'Transaction Metrics'">
          <h2>Transaction Metrics</h2>
          <div class="row">
                <div google-chart chart="trxMetrics" style="width:980px; height:512px; position: relative;">        
                </div>
          </div>
          
      </div>
      <div class="row" ng-show="activetab == 'Ticket Types'">
          <h2>Ticket Types</h2>    
          <div class="row">
              <div class="ticketGridStyle" ng-grid="ticketOptions"></div>
          </div>
       </div>
      <div class="row" ng-show="activetab == 'Transactions'">
          <h2>Transactions</h2>
          <div class="row">
              <div class="ticketGridStyle" ng-grid="trxOptions"></div>
          </div>
                                                                                     
       </div>
  </div>
  
  

